@charset "utf-8";
*{
    font-family: 'Nunito', sans-serif;
    padding: 0px; 
    margin: 0px; 
    box-sizing: border-box; 
    text-decoration: none; 
    list-style: none; 
    -webkit-tap-highlight-color:transparent;
}

/**********************/
header{
    width:100%;
    margin: 0 auto;
    height:80px;
    background-color: #202020;
}
header #allforheader{
    max-width:1920px;
    width: 90%;
    display: flex;
    margin: 0 auto;
}
header .suglogo{
    float: left;
    margin: 11.5px 0;
}
header .suglogo, .suglogo img{
    width:80px;
    height:57.33333px;
}
/* NAVBAR img */
header .navbar{
    position: absolute;
    right:0;
    order: 3;
    height: 40px;
    margin: 20px 31px;
    display: none;
}
header .navbar #close{display: none;}
header .navbar img{
    width: 40px;
    height:40px;
}
/**************/

/* LIST */
header .list{
    width: 50%;
}
header .list .ullist{
    display: flex;
    justify-content: space-evenly;
}
header .list .ullist .lilist{
    margin:29px 0;
}
header .list .ullist .lilist a:link{
    color:#ffffff;
    padding: 29px 20px;
    transition: background-color 0.5s;
}
header .list .ullist .lilist a:hover{background-color:#303030;}
header .list .ullist .lilist a.lnklst:visited, a.mysrvc:visited{color: #ffffff;}
header .list .ullist .lilist a.orderbtn{display: none;}
header .list .ullist .lilist a.orderbtn:visited{color:#000;}
/* LIST DOWN*/
/*
header .downlist img{
    width: 15px;
    position: relative;
    top: 4px;
    left: 10px;
}
header .list .ullistdown{
    position: absolute;
    margin-top: 21px;
    height: 0;
    overflow: hidden;
    z-index: 1;
}
header .ullist .mysrvc{
    cursor:not-allowed;
}
header .ullist .mysrvc:hover ~ .ullistdown{
    height:200px;
}

header .ullist .ullistdown:hover{
    height:auto;
    overflow: unset;
}
header .list .ullistdown .lilistdown{
    margin-top:20px;
}
header .list .ullistdown .lilistdown a{
    background-color: #131313;
    color: #ffffff;
    transition:0.5s;
}
header .list .ullistdown .lilistdown a:hover{background-color: #272727;}
header .list .ullistdown .lilistdown a:active{background-color: #444444;}
header .list .ullistdown .lilistdown a:visited{color: #ffffff;}
header .list .ullistdown .lilistdown a.prosite:link{
    padding: 10px 20px;
}
header .list .ullistdown .lilistdown a.sectest:link{
    padding: 10px 20px;
    padding-right: 31px;
}
header .list .ullistdown .lilistdown a.desilogo:link{
    padding: 10px 20px;
    padding-right: 69px;
}*/
/******* END LIST DOWN ********/

/* BUTTON ORDER NOW */
header #allforheader .order{width:50%;}
header #allforheader .order a.btnorder{
    float: right;
    margin: 17px 0;
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 10px 20px;
    color: #ffffff;
    transition:color, background-color 0.5s;
}
header #allforheader .order a.btnorder:visited{
    color: #ffffff;
}
header #allforheader .order a.btnorder:hover{
    background-color: #BFBFBF;
    border: 2px solid #BFBFBF;
    color:#000000;
}
/* MAIN */
main{
    position: relative; 
    margin:0 auto;
    width:100%;
    background-color: #F1FAEE;
}
/* list */
main .list_about{
    /*background-color:#131313;*/
    height:370px;
    position: fixed;
    top:0;
    bottom:0;
    margin: auto;
    left:40px;
    border-radius:10px;
    padding:5px;
    width:69px;
    z-index:100;
    display:none;
}
/************/
main .list_about .boxtitle{
    display:flex;
    align-items: center;
    background-color:#131313;
    padding:5px;
    border-radius:10px;
    /*width:150px;*/
    width:60px;
    overflow: hidden;
    margin:10px 0;
    transition: width 0.2s;
} main .list_about .boxtitle:hover{width:150px;background-color: #202020;}
  main .list_about .boxtitle:hover p{display:block;}
  main .list_about .boxtitle:hover .boxtxt{background-color: #202020;}
main .list_about .boxtitle p{
    height:22px;
    color:#ffffff;
    margin-left:8px;
    display: none;
} main .list_about .boxtitle p:hover{color: #d6d6d6;}

main .list_about .boxtitle .boximg{
    width: 50px;
    min-width:50px;
    height: 50px;
    position: relative;
    border-radius: 10px;
    transition:background-color 0.3s;
} /*main .list_about .boxtitle .boximg:hover{background-color: #303030;}*/
main .list_about .boxtitle .boxtxt{
    padding: 14px 0;
    width: 90px;
    min-width:90px;
    background-color:#131313;
}
main .list_about .boxtitle .boximg img{
    position: absolute;
    top:0; bottom:0; left:0; right:0; margin:auto;
    width:30px;
} 
/****** END *******/

/* ALL BOX FOR INFO */
main .info_about{
    width:100%;
    max-width:1920px;
    margin:0 auto;
    overflow: hidden;
    position: relative;
}
main .info_about .backaboutme{
    /*position: absolute;
    right:-70px;
    top:100px;*/
    margin-left:12%;
    width: 1000px;
    margin-top:95px;
}
main .info_about .backaboutme img{
    width:960px;
}
main .info_about .box_aboutme{
    width:65%;
    max-width:1920px;
    margin:0 auto;
    padding:60px 0;
}
main .info_about .box_aboutme .myinfo{
    position: absolute;
    margin-top:35px;
}
main .info_about .box_aboutme .myinfo h1{
    font-size:90px;
    font-weight: bold;
    color: #32383f;
}
main .info_about .box_aboutme .myinfo p{
    font-size:23px; 
    color: #45505b;
}