@charset "utf-8";

*{
    font-family: 'Nunito', sans-serif;; 
    padding: 0px; 
    margin: 0px; 
    box-sizing: border-box; 
    text-decoration: none; 
    list-style: none; 
}
@media (max-width:1200px){
    body{
        background-size: auto;
    }
}
@media (max-width:850px) {
    body{
        background-size: auto;
    }
    header{
        background-color: #131313;
        border-bottom: solid 1px #1b1b1b ;
    }
    header #allforheader .order{display: none;}
    header .list .ullist .lilist > a:link {
        padding: 15px 20px;
        display: block;
    }
    header .list .ullist .lilist{
        margin: 0;
    }
    header .list{
        background-color: #131313;
        display: block;
        position: absolute;
        width: 100%;
        top: 80px;
        left:-100%;
        height: auto;
        z-index: 1;
        transition: 0.5s;
    }
    header .navbar:focus ~ .list{
        left:0;
    }
    header .list .ullist{
       display: block;
    }
    header .list .ullistdown .lilistdown a:link{
        display: block;
    }
    header .list .ullistdown{
        width: 100%;
        margin-top:0px;
    }
    header .list .ullistdown .lilistdown{
        margin-top: 0;
    }
    header .navbar{
        display: block;
    }
    /*
    header .ullist .mysrvc:hover ~ .ullistdown{
        height:0px;
    }
    header .ullist .mysrvc:focus ~ .ullistdown{
        height:200px;
    }
    */
    main #boxall{
        width:55%;
        height:30%;
    }
    main #boxall .socialmedia .singlesocial{
        height:37px;
    }
    main #boxall .socialmedia .singlesocial img{
        width:17px;
    }
}
@media (max-width:700px){
    /* footer */
    footer #boxfooter{
        display: block;
    }
    #boxfooter .bzns_contact li{
        margin-left: 0;
        margin-right: 25px;
        text-decoration: underline;
    }
    #boxfooter .bzns_contact ul{
        margin: 0;
        margin-bottom: 20px;
    }
}
