@charset "utf-8";

*{
    font-family: 'Nunito', sans-serif;
    padding: 0px; 
    margin: 0px; 
    box-sizing: border-box; 
    text-decoration: none; 
    list-style: none; 
}


/************************/
body{
    background-image: url(../IMG/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    overflow: hidden;
    position: fixed;
}

/**********************/
header{
    width:100%;
    max-width:1920px;
    margin: 0 auto;
    height:80px;
    background-color: #13131391;
}
header #allforheader{
    width: 90%;
    display: flex;
    margin: 0 auto;
}
header .suglogo{
    float: left;
    margin: 11.5px 0;
}
header .suglogo, .suglogo img{
    width:80px;
    height:57.33333px;
}
/* NAV BAR IMG */
header .navbar{
    position: absolute;
    right:0;
    order: 3;
    height: 38px;
    margin: 21px 31px;
    display: none;
}
header .navbar img{
    width: 40px;
}
/* LIST*/
header .list{
    width: 50%;
}
header .list .ullist{
    display: flex;
    justify-content: space-evenly;
}
header .list .ullist .lilist{
    margin:29px 0;
}
header .list .ullist .lilist > a:link{
    color:#ffffff;
    padding: 29px 20px;
    transition: background-color 0.5s;
}
header .list .ullist .lilist > a:hover{background-color:#272727;}
header .list .ullist .lilist > a:visited{color: #ffffff;}
/* LIST DOWN*/
header .downlist img{
    width: 15px;
    position: relative;
    top: 4px;
    left: 10px;
}
header .list .ullistdown{
    position: absolute;
    margin-top: 21px;
    height: 0;
    overflow: hidden;
    z-index: 1;
}
header .ullist .mysrvc:hover ~ .ullistdown{
    height:200px;
}
header .ullist .ullistdown:hover{
    height:auto;
    overflow: unset;
}
header .list .ullistdown .lilistdown{
    margin-top:20px;
}
header .list .ullistdown .lilistdown a:link{
    background-color: #131313;
    color: #ffffff;
    /*pointer-events:none;*/
}
header .list .ullistdown .lilistdown a:hover{background-color: #272727;}
header .list .ullistdown .lilistdown a:active{background-color: #444444;}
header .list .ullistdown .lilistdown a:visited{color: #ffffff;}
header .list .ullistdown .lilistdown a.prosite:link{
    padding: 10px 20px;
}
header .list .ullistdown .lilistdown a.sectest:link{
    padding: 10px 20px;
    padding-right: 31px;
}
header .list .ullistdown .lilistdown a.desilogo:link{
    padding: 10px 20px;
    padding-right: 69px;
}
/* BUTTON ORDER NOW */
header #allforheader .order{width:50%;}
header #allforheader .order a.btnorder:link{
    float: right;
    margin: 17px 0;
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 10px 20px;
    color: #ffffff;
    transition:color, background-color 0.5s;
}
header #allforheader .order a.btnorder:visited{
    color: #ffffff;
}
header #allforheader .order a.btnorder:hover{
    background-color: #BFBFBF;
    border: 2px solid #BFBFBF;
    color:#000000;
}
/* MAIN */
main{
    width:100%;
    max-width:1920px;
    height:100%;
    margin: 0 auto;
    box-shadow: 0px 0px 40px 2px #000 inset;
}
/* FOR LOGO */
main #boxall{
    position:absolute;
    margin: auto;
    width: 500px;
    height:273px;
    left:0; right: 0; top:0; bottom:0;
}
main #boxall .logo img{
    width:100%;
}
/* SOCIAL MEDIA */
main #boxall .socialmedia{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
main #boxall .socialmedia .singlesocial{
    height: 45px;
    background-color:#202020;
    padding: 10px;
    border-radius: 10px;
    transition:background-color 0.5s;
}
main #boxall .socialmedia .singlesocial:hover{
    background-color: #303030;
}
main #boxall .socialmedia .singlesocial img{
    width:25px;
}
/* FOOTER */
footer{
    margin: 0 auto;
    width: 100%;
    max-width:1920px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
footer #boxfooter{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#boxfooter .cop{
    padding: 7px 0;
    color: #ffffff;
    font-size: 13px;
}
#boxfooter .bzns_contact ul{
    margin: 7px 0;
}
#boxfooter .bzns_contact li{
    display: inline;
    margin-left:7px;
}
#boxfooter .bzns_contact a.bzns:link, a.contactme:link{
    color:#e7e7e7;
    font-size: 13px;
}

#boxfooter .bzns_contact a.bzns:visited, a.contactme:visited{color: #e7e7e7;}
#boxfooter .bzns_contact a.bzns:hover, a.contactme:hover{
    color: #ffffff;
    text-decoration: underline;
}
